<!DOCTYPE html>
<html
	lang="ja"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1.0">
<title>ホーム</title>
</head>
<body>
	<header> ホーム、記録 </header>
	<h3>
		ようこそ、<span sec:authentication="name"></span>
	</h3>
	<div sec:authorize="hasRole('MANAGER')">
		<p>
			<a th:href="@{/leaders}">リーダー専用</a>
		</p>
	</div>
		<div sec:authorize="hasRole('ADMIN')">
		<p>
			<a th:href="@{/systems}">管理者専用</a>
		</p>
	</div>
	<form
		th:action="@{/logout}"
		method="post">
		<input
			type="submit"
			value="Sign Out" />
	</form>
</body>
</html>